<!-- sign-in.html -->
{% extends "base.html" %}

{% block title %}Retrive ID{% endblock %}

{% block content %}
<div class="container">
    <h1>Retrive by id</h1>
    <form action="" method="get">
        <label for="your_name">User Id: </label>
        <input id="user_id" type="text" name="user_id" value="{{ current_user_id }}">
        {{ form }}
        {% csrf_token %} 
        <input type="submit" value="OK">
    </form>
    <div></div>
    {% if users|length == 0 %}
        <p>No Data available, please use the following command line before use:</p>
        <div class="card p-2">
            <pre>$ python3 manage.py loaddata ex09/static/ex09_initial_data.json --app pgsql --format=json</pre>
        </div>
    {% else %}
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}